.profile {
  width: 300px;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  padding: 30px 20px 0;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2e2e2e;
  margin: 0 auto 10px;
}

.username {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}

.tag {
  color: #8e8e8e;
  font-size: 16px;
  margin-bottom: 10px;
}

.location {
  color: #b0b0b0;
  font-size: 16px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f3f6f9;
  border-top: 1px solid #ccc;
  color: #000000;
}

.stats li {
  list-style: none;
  flex: 1;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #ccc;
  margin: 0;
}

.stats li:last-child {
  border-right: none;
}

.label {
  display: block;
  font-size: 14px;
  color: #8e8e8e;
  margin-bottom: 5px;
}

.quantity {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
}
